body {
	background-color: #000;
}

div {
	width: 150px;
	height: 150px;
}

h3 {
	color: aliceblue;
}

button {
	background-color: black;
	color: aliceblue;
	border: 1px solid aliceblue;
	border-radius: 5px;
	width: 80px;
	height: 30px;
}

h4 {
	color: aliceblue;
}
