body {
	background-color: #000;
}

.greet {
	color: aliceblue;
}

.btn {
	background-color: black;
	color: aliceblue;
	border: 1px solid aliceblue;
	border-radius: 5px;
	width: 80px;
	height: 30px;
}

.output {
	color: aliceblue;
}
